.account-form {
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #023a32;
    color: #2e323c;
}

.account-form::placeholder {
    color: #000000; 
    opacity: 1;     
}

.user-name {
    font-size: 3.5rem !important;
}

.form-group {
    color: #ffffff;
}

.card {
    background-color: #1d1d1d;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
}

.success-box {
    background-color: #00be2c;
}