:root {
  --ff-body:  "Play", sans-serif;
  --ff-heading: var(--ff-body);
}

body {
  font: var(--ff-body);
  color: #000 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: var(--ff-body) !important;
  color: #000 !important;
}

body,
button,
input,
select,
textarea {
  font-family: var(--ff-body) !important;
  color: #000 !important;
}

p {
  font-size: 15px !important;
  font-weight: 400 !important;
}

h1 {
  font-size: 50px !important;
  font-weight: 700 !important;
}

h2 {
  font-size: 25px !important;
  font-weight: 700 !important;
}

h3 {
  font-size: 20px !important;
  font-weight: 400 !important;
}

div {
  margin: 0;
  padding: 0;
}

section {
  width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

input, textarea, select, label {
  font-family: var(--ff-body);
  font-size: 1rem;
  color: inherit;
  margin: 0;
  padding: 0;
  border: none !important;
  outline: none !important;
  background: none !important;
  box-shadow: none !important;
}

/* Custom placeholder styles */
::placeholder {
  font-family: var(--ff-body);
  color: #888;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none !important;
  -webkit-box-shadow: none !important;
  transition: background-color 5000s ease-in-out 0s !important;
}
